<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
    <title>Watson - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="theme-customizer inactive">
            <span class="glyphicon glyphicon-pencil inactive"></span><p class="inactive">Personnalisation</p>
        
            <div class="header active">
                <p><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Thème <span class="close" id="closeCustomizer">X</span></p>
                
                
                <div class="colors active">
                    <fieldset>
                        <input type="color" id="customizerPrimaryColor">
                        <label for="customizerPrimaryColor" style="display:inline;text-indent: 10px;">Primaire</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerPrimaryColorHover">
                        <label for="customizerPrimaryColorHover" style="display:inline;text-indent: 10px;">Primaire (survol)</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerPrimaryColorActive">
                        <label for="customizerPrimaryColorActive" style="display:inline;text-indent: 10px;">Primaire (actif)</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerBackgroundColor">
                        <label for="customizerBackgroundColor" style="display:inline;text-indent: 10px;">Fond</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerFontColor">
                        <label for="customizerFontColor" style="display:inline;text-indent: 10px;">Texte</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerRowHover">
                        <label for="customizerRowHover" style="display:inline;text-indent: 10px;">Lignes (survol)</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerLinkColor">
                        <label for="customizerLinkColor" style="display:inline;text-indent: 10px;">Liens</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerMenu">
                        <label for="customizerMenu" style="display:inline;text-indent: 10px;">Menu (texte)</label>
                    </fieldset>

                    <fieldset>
                        <input type="color" id="customizerMenuHover">
                        <label for="customizerMenuHover" style="display:inline;text-indent: 10px;">Menu (texte survol/actif)</label>
                    </fieldset>
                    
                </div>
            </div>

        </div>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse theme-primary" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="logo" href="{{ path('home') }}">Watson</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav navbar-nav navbar-right">
                            <li class="rss_feed" ><a href="{{ path('rss_feed') }}" target="_blank"><i class="glyphicon glyphicon-th-list"></i> Flux RSS</a></li>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                        {% endif %}
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Welcome, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Log out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('login') }}">Log in</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer class="footer">
            Watson - Made with love by CvTIC and his students
        </footer>
    </div>
    
    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/lib/jquery/jquery.cookie.min.js"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- Theme Customizer -->
    <script src="{{ app.request.basepath }}/js/theme.js"></script>
</body>
</html>
